<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>EventsList</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
</head>
<body>

			<li><a th:href="@{/web/eventsList}">Evenement</a></li>

<div class="texte_white">Accès interdit ! Je te donne une 403</div>
</body>
</html>