<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8"></meta>
<title>EventEdition</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link><link th:href="@{/css/bandeau.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<ul class="bandeau">		<li><a sec:authentication="name"></a></li>
		<li><a style="color: green" th:text= "${message}"> </a></li>
		<li style="float: right"><a class="active"
			th:href="@{/web/logout}">Logout</a></li>
	</ul>
	<br />
	<br />
	<div class="wrapper">
		<h1>Edition d'évènements</h1>
		<p>Inserer un titre et une descprition svp</p>
		<form class="form" action="#" th:action="#{saveEvent}" th:object="${event}" method="post" enctype="multipart/form-data">
			<input type="text" th:field="*{title}" placeholder="Entrer un titre" />
			<textarea rows="4" th:field="*{description}" placeholder="Entrer une description..."></textarea>
			<input type="file" name="file" accept=".jpg,.png,.gif" />
			<input type="hidden" th:field="*{fileName}" name="fileName"/>
			<input type="hidden" th:field="*{idevent}" name="idevent"/>
			<input type="submit" class="submit" value="Editer!" />
		</form>
	</div>
</body>
</html>