<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>EventsList</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
</head>
<body>
	<div class="wrapper">
		<h1>Confirmation d'ajout à l'événement</h1>
		<p>Inserer un titre et une descprition svp</p>
		<form class="form" action="#" th:action="#{saveEvent}" th:object="${event}" method="post">
			<input type="text" th:field="*{title}" placeholder="Entrer un titre" />
			<textarea rows="4" th:field="*{description}" placeholder="Entrer une description..."></textarea>
			<input type="file" th:field="*{fileName}" accept=".jpg,.png,.gif" />
			<input type="submit" class="submit" value="Créer!" />
		</form>
	</div>
	
		<div class="wrapper">
		<h1>Confirmation d'ajout à l'événement</h1>
		<br />
		<h1>#{eventConfirm.event.title}</h1>
		<br />
		<p>#{eventConfirm.event.description}</p>
		<br />
		<p>#{eventConfirm.user.email}</p>
		<br />
		<h:form class="form">
		<h:commandButton value="Je viens" action="#{eventConfirm.choose('ACCEPT')}" />
		<h:commandButton value="Je viens pas" action="#{eventConfirm.choose('DECLINE')}" />
		</h:form>
	</div>
	
</body>
</html>