<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8"></meta>
<title>EventsList</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link><link th:href="@{/css/bandeau.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<ul class="bandeau">
		<li><a sec:authentication="name"></a></li>
		<li><a style="color: green" th:text= "${message}"> </a></li>
		<li style="float: right"><a class="active"
			th:href="@{/web/logout}">Logout</a></li>
	</ul>
	<br />
	<br />
	<div class="wrapper">
		<br />
		<form class="form" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /> <input type="submit" class="submit"
				value="nouvel evenement" name="newEvent" /> <br /> <br /> <br /> <br />
			<div class="texte_white">
				Liste des evenements de <span th:text="${author.username}"></span>
			</div>
			<div class="emailList">
				<table>
					<!-- <ui:repeat value="${eventsList.events}" var="event"> -->
					<tr th:each="event : ${events}">
						<td><a th:href="${event.linkToEventLinkServlet}"><span
								th:text="${event.title}">title</span></a></td>
					</tr>
					<!-- </ui:repeat> -->
				</table>
			</div>
		</form>
	</div>
</body>
</html>