<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>

<title>EventsList</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
<link th:href="@{/css/bandeau.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<ul class="bandeau">
		<li><a sec:authentication="name"></a></li>
		<li><a style="color: green" th:text= "${message}"> </a></li>
		<li style="float: right"><a class="active"
			th:href="@{/web/logout}">Logout</a></li>
	</ul>
	<br />
	<br />

	<nav>
		<ul class="menu">
			<li><a th:href="${'eventEdition?id='+event.idevent}">Evenement</a></li>
			<li><a th:href="${'eventLink?id='+event.idevent}">Statut</a></li>
			<li><a th:href="${'eventStat?id='+event.idevent}">Statistiques</a></li>
		</ul>
	</nav>
	<br />
	<br />
	<div class="wrapper">
		<h1>Inviter des amis à l'événement :</h1>
		<h1>
			<span th:text="${event.title}">title</span>
		</h1>
		<br /> <br /> <img id="image" alt=""
			th:src="${'image/'+event.fileName}" />

		<form class="form" th:action="#{eventLink}" method="post">
			<input id="email" type="text" name="emailList"
				placeholder="Entrer l'email de la personne à inviter" /> <input
				type="hidden" th:field="${event.idevent}" name="idevent" /> <input
				type="submit" class="submit" value="Valider!" /> <br /> <br /> <br />
			<div class="texte_white">Membres invités</div>
			<div class="emailList">
				<table>
					<tr>
						<td>Email</td>
						<td>Statut</td>
						<td>Date d'envoi</td>
					</tr>
					<tr th:each="subscriber : ${subscribers}">
						<td th:text="${subscriber.user.email}">email</td>
						<td><div align="center">
								<img alt="${subscriber.isPresentString}"
									th:src="@{${subscriber.iconeLink}}" width="17" height="17" />
							</div></td>
						<td th:text="${subscriber.sendingDateString}">sendingDateString</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</body>
</html>