<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>Connexion</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
    rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
    rel='stylesheet' type='text/css'></link>
</head>
<body>
        <div class="wrapper">
        <h1>Se Connecter</h1>

      
        
        <form class="form" action="#" th:action="#{checkAuthor}" th:object="${author}" method="post">
            <input id="username" type="text" th:field="*{username}"
                placeholder="Entrer un nom d'utilisateur" />
<!--             <message for="username" style="color:red" /> -->
            <input id="password" type="password" th:field="*{password}"
                placeholder="Entrer votre mot de passe" />
                
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!--             <message for="password" style="color:red" /> -->
            <input type="submit" class="submit" value="Se connecter !" />

        </form>
    </div>
    
    
</body>
</html>l>