<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>Register</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/event.css}"></link>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css'></link>
</head>
<body>
		<div class="wrapper">
		<h1>Créer un compte</h1>
		<form class="form" action="#" th:action="#{saveAuthor}" th:object="${author}" method="post">
			<input id="username" type="text" th:field="*{username}"
				placeholder="Entrer un nom d'utilisateur" />
<!-- 			<message for="username" style="color:red" /> -->
			<input id="password" type="password" th:field="*{password}"
				placeholder="Entrer votre mot de passe" />
<!-- 			<message for="password" style="color:red" /> -->
 			<input id="password" type="password" th:field="*{password2}"
				placeholder="Confirmez votre mot de passe" />
<!-- 			<message for="password2" style="color:red" /> -->
<!-- 			<input type="hidden" th:field="*{token}"/> -->
			<input type="submit" class="submit" value="S'enregister !" />

		</form>
	</div>
	
	
</body>
</html>